name: Xcode - Build and Analyze

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and analyse default scheme using xcodebuild command
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Default Scheme
        run: |
          sudo gem install cocoapods
          pod --version
          echo Pod Success
          echo Using default scheme
      - name: Build
        run: |
          pod install --verbose --no-repo-update
          xcodebuild clean build analyze -scheme "KindsOf_Swift" -workspace "KindsOf_Swift.xcworkspace" CODE_SIGNING_ALLOWED=NO

